@import "tailwindcss";

body {
    margin: 0;
    font-family: 'Oxygen', 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, 'Courier New', monospace;
}